body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(155, 6, 98);
    background: linear-gradient(90deg, rgb(151, 0, 93) 0%, rgb(139, 87, 199) 27%, rgba(176, 102, 199, 0.861) 48%);
  }
  
#calculator {
    background: rgb(142, 84, 168) 11%;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border: 2px solid #020202;
    box-shadow:  0px 90px 50px rgba(0, 0, 0, 0.1);
    transition: background-color 1s;
}

#calculator:hover {
    background: rgb(191, 110, 223);
}
  
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    background: rgb(223, 118, 191);
    box-sizing: border-box;
    border: 2px solid #020202;
    transition: background-color 0.5s;
}

input:hover {
    background-color: #d488d0;
  }

button {
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #131313;
    background: rgb(237, 191, 255);
    border-radius: 4px;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #d488ca;
}